Source: openmediavault-zfs
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-zfs
Architecture: any
Depends: libzfs4linux | libzfs6linux,
         proxmox-headers-6.2 [amd64] | proxmox-headers-6.5 [amd64] | proxmox-headers-6.8 [amd64] | proxmox-headers-6.11 [amd64] | pve-headers [amd64] | linux-headers-amd64 [amd64],
         linux-headers-586 [i386] | linux-headers-686 [i386] | linux-headers-686-pae [i386],
         openmediavault (>= 7.7),
         proxmox-headers-6.2 [amd64] | proxmox-headers-6.5 [amd64] | proxmox-headers-6.8 [amd64] | proxmox-headers-6.11 [amd64] | pve-headers [amd64] | zfs-dkms [amd64],
         zfs-dkms [i386],
         zfsutils-linux [i386 amd64],
         zfs-zed,
         ${misc:Depends}
Description: OpenMediaVault plugin for ZFS
 ZFS is a combined file system and logical volume manager designed
 by Sun Microsystems. The features of ZFS include protection against
 data corruption, support for high storage capacities, efficient data
 compression, integration of the concepts of filesystem and volume
 management, snapshots and copy-on-write clones, continuous integrity
 checking and automatic repair, RAID-Z and native NFSv4 ACLs.
 .
 The native Linux kernel port of the ZFS filesystem.
