[Unit]
Description=Load ZFS encryption keys from remote HTTPS sources
Documentation=https://github.com/openmediavault/openmediavault
DefaultDependencies=no
After=zfs-import.target
Before=shutdown.target
Conflicts=shutdown.target
ConditionDirectoryNotEmpty=/etc/zfs/remote-keys

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/zfs-remote-unlock

[Install]
WantedBy=multi-user.target
